
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
table {
  width: 50vw; /* Ensure the table occupies the full width of its container */
  border-collapse: collapse; /* Collapse the borders of the table cells */
}

th, td {
  padding: 8px; /* Add padding to table cells for better spacing */
  text-align: left; /* Align text to the left within table cells */
  border-bottom: 1px solid #ddd; 
  /* Add a bottom border to separate rows */
}
th{
  text-transform: uppercase;  
  color: #111;
}
td{
  color: white;
}

